
<main class="todo-container">
  <div class="add-task">
      <input type="text" #todoText placeholder="Add Todo">
      <button (click)="addTask(todoText.value)">Add</button>
  </div>
  
  <ul class="task-list">
      <li *ngFor="let todoItem of todoList"  [ngClass]="{'completed': todoItem.completed}">
          <input
              type="checkbox"
              [(checked)]="todoItem.completed"
              (change)="toggleCompleted(todoItem.id)"
          />
          <span [class.completed]="todoItem.completed">{{ todoItem.task }}</span>
          <button class="delete-btn" (click)="deleteTask(todoItem.id)">Delete</button>
      </li>
  </ul>
</main>
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">🏠 Dashboard</a>
      <a mat-list-item routerLink="/calendar">📅 Calendar</a>
      <a mat-list-item routerLink="/profile">👤 Profile</a>
      <a mat-list-item routerLink="/settings">⚙️ Settings</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet> 
  </mat-sidenav-content>
</mat-sidenav-container>