<div>
<div class="center">
    <h3>Start your journey to success with OpenStudу</h3>
    <h5>The best website for the best studies and the bright future</h5>
    <div class="button">
      <button routerLink="/courses">Courses</button>
    </div>

    <div class="about">
      <h4>About OpenStudу</h4>
      <p>We understand how frustrating it can be to get stuck on a homework problem – we’ve all been there. OpenStudу is a platform designed to help you solve homework, inspired by the way you work. You can share your own files, host others' uploads, and review them too. Our goal is to support your success and help you overcome obstacles once and for all.</p>
    </div>
</div>
</div>

